<html>
<head>
    <title>MISO Prices</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <style>
                div.tophead {background-color: #428bca;
        color: White}

    </style>
    <style type="text/css">
p {
   font-size: 16px;
}
h5 {
    font-size: 16px;
}
</style>
</head>

<body>
        <center>
    <div class="tophead">
        <br>
    <h1> Where is wind power most valuable?</h1>
    <h4>Determine where to build your next wind farm or set up a long term agreement with an existing farm</h4>
        <br>
        </div>
    </center>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="/index_Main"> Home </a></li>

        <li><a href="/wind_details">Main Project </a></li>
          <li><a href="/wind_details"> Build a new Wind Farm </a></li>
          <li><a href="/index_Main#Energy_Tool"> Analyze Energy Prices </a></li>
          <li><a href="/index_Main#Energy_Tool"> Determine Transmission Cost </a></li>
          <li><a href="/index_Main#MISO"> Learn more about MISO </a></li>
          <li><a href="/index_Main#Author"> About Author </a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
        
</nav>
    <center>
    <h2> Wind Farms and Wind Speeds in Iowa</h2>
    </center>
     <div class='container'>
        <div class="col-sm-2">
        </div>
        
        <div class="col-sm-8" style="border: 10px solid">
            
    <iframe width="100%" height="540" frameborder=0 src="https://mtlawder.cartodb.com/viz/bcb06160-c9e3-11e5-bde9-0e5db1731f59/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            
        </div>
        <div class="col-sm-2">

            <img src="/static/Map_Legend.jpg"  class="img-responsive" alt="Legend">

        </div>
    </div>
    <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <br>
            <p>Notice in the chart above where the wind farms in Iowa are clustered. They tend to be in the North and West where the highest wind speeds are located. The simple prevailing logic for wind farms states that new farms should be built where they have high wind potential and can therefore provide more energy. However, this logic does not account for variations in demand and limitations in transmission.</p>
            <p>Without adequate storage facilities, any energy that is generated by a wind farm must be immeadiately transmitted and consumed. The energy must therefore be sold and the current local price (learn more about how the price of energy fluctuates). As wind speed increases, the energy output from that farm will increase, but if demand remains flat the price the price that energy is sold at will decrease. This is a simple supply and demand issue. Here's an example:</p>
        
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <br>
        <div class="container">

<div class="col-sm-2">
            </div>
            <div class="col-sm-8", style="border: 5px solid">

        <center>
            <h5><b><u>Market controlled at 10mph wind</u></b></h5>
            <p>If the wind speed is 10mph, ABC Energy's Wind Farm produces 50MWh of energy each hour and sells all the energy to a nearby town that has a demand of 75MWh of energy each hour. The town buys the energy at $30/MWh.</p>
            <b>50MWh x $30/MWh = $1,500</b>
            <h5><b><u>Wind Saturated at 20mph wind</u></b></h5>
            <p>Now the wind speed increases to 20mph and ABC Energy's Wind Farm produces 100MWh of energy each hour and wants to sell it all to the nearby town at $30/MWh. But the town only needs 75MWh and another wind farm two counties over called and said that because of the high winds they have excess energy to sell too and they will sell to the town for $20/MWh. Ultimately ABC Energy agrees with the town to sell them 75MWh at $15/MWh and gets no value for the remaining energy because there is no nearby demand and insufficient transmission to sell long distances.</p>
            <b>75MWh x $15/MWh = $1,250</b>
            <p><i>The Wind Farm produced twice as much energy at high wind speeds, but didn't realize any additional fianicial gains</i></p>
            </center>

        </div>
<div class="col-sm-2">
            </div>
    </div>
            <div class="container">
                <div class="col-sm-1">
    </div><center>
            <div class="col-sm-5">
            <img src="/static/PPWIND_2015.jpg"  class="img-responsive" alt="windvprice">
                </div>
                            <div class="col-sm-5">
            <img src="/static/PPWIND_moav.jpg"  class="img-responsive" alt="moav">
                </div>
          
                </div>
                <div class="container">
                    <div class="col-sm-12">
                        <img src="/static/Monthly_PPWIND.jpg"  class="img-responsive" alt="months">
                    </div>
                </div>
                
                <br>
                <br>
                <p> Checkout more at <b>Misodata.herokuapp.com</b></p>

</body>
</html>